.container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    width: 100%;
    max-width: 800px;
    border: 1px solid black;
}

svg {
    width: 100%;
    background-color: lightgray;
    border-right: 1px solid black;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid black;
}

.selected {
    stroke: black;
    stroke-width: 3;
    stroke-dasharray: 4;
    fill: none;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

button {
    margin: 10px;
}