# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Set default charset
[*]
charset = utf-8

# Indentation settings
[*.ts]
indent_style = space
indent_size = 2

[*.tsx]
indent_style = space
indent_size = 2

[*.{ts,tsx}]
max_line_length = 150
trim_trailing_whitespace = true
insert_final_newline = true
